header {
    background-image:linear-gradient(to top, #c34bce, #f0aafd);
    margin: 80;
    padding: 80;
    display:block ;
    justify-content: space-around;
    padding: 44px;
    color: #eca6f7;
    