header {
    background-image:linear-gradient(to top, #24b15a, #29be62b6);
    margin: 80;
    padding: 80;
    display:block ;
    justify-content: space-around;
    padding: 44px;
    color: #eca6f7;
    