header {
    background-image:linear-gradient(to top, #24b15a, #29be62b6);
    margin: 90;
    padding: 90;
    display:block ;
    justify-content: space-around;
    padding: 54px;
    color: #000000;
}

.titulo1{
    font-size: 80px;
    text-align: center;
    color: #030003;
    font-size: italic;
}

.escola {
    margin-left: 300px;
    margin-top: 300px;
    margin-right: 300px;
    height: 550px;
    font-size: 70px;
   text-align: center;
   font-style: italic;
   background-image:linear-gradient(to top, #29be62b6, #24b15a)
}
body{
   background-color: #8de6afe5;
}


.foto-vaca{
    margin-left: 100px ;
    margin-bottom: 150px;
    margin-top: 100px; 
    text-align: center;
    width: 40%;

}

.vaca-foto{
margin-left: 1000px;
margin-top: 10px;
margin-bottom: 1000px;
width: 40%;

}


 
.racas-titulo{
    margin-left: 100px;
    margin-top: 1000px;
    margin-right: 100px;
    height: 550px;
    font-size: 70px;
   text-align: center;
   font-style: italic;
   background-image:linear-gradient(to top, #29be62b6, #24b15a)
}
}